@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Righteous|Roboto');

* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1px) {
    body {
      /* Minimum font size */
      font-size: 6px
    }

    h1 {
        font-size: 17px
    }
}

@media (min-width: 700px) {
    body {
      /* Minimum font size */
      font-size: 8px
    }

    h1 {
        font-size: 22px
    }
}
  @media (min-width: 1200px) {
    body {
      /* Maximum font size */
      font-size: 14px
    }

    h1 {
      font-size: 30px
    }
}

body {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Roboto;
    line-height: 1.42857143;
    color: rgb(29, 29, 29);
    padding-bottom: 40px; /* Height of the footer */
}


/* #root {
    background-image: url('/images/22222.jpg');
    background-repeat: repeat;
    background-size: 1800px 1000px;
} */

.not_found_container {
    text-align: center;
    margin-top: 96px;
    padding: 20px;
    min-height: 100vh;
    text-align: center;
    font-size: 90px;
    font-family: 'Righteous', cursive;
    color:black;
}

.spinner {
    display: block;
    margin: auto;
}

.error_label {
    color: #F44336;
    font-weight: 550;
}